#homeContainer-Home {
    width: 80vw;
    margin: 0 10vw 0 10vw ;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-between;
    
}

.grayBox-Home {
    background-color:  #eaeaea; 
    border-radius: 0.5rem;
}

#whoWeAre-Home {
    text-align: left;
    width: 50vw;
    height: 15rem;
}

#clinicPink-Home {
    background-color: #ed1e79;
    width: 20vw;
    height: 15rem;
    
}

#whatIsHyp-Home {
    width: 81vw;
    height: 12rem;
}

