#homeContainer-Home {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
    
}

.grayBox-Home {
    background-color:  #eaeaea; 
    border-radius: 0.5rem;
}

#whoWeAre-Home {
    width: 40vw;
    height: 20vw;
}

#clinicPink-Home {
    background-color: #ed1e79;
    width: 10vw;
    height: 20vw;
    
}

Link {
   color: #fff2cd;

}