/* ------------ text info bubbles used in main route pages ---------- */
.bubble {
  border-radius: 0.5rem;
  text-align: center;
 
}

.bubbleGray {
  background-color: #c2c2c2;
  box-shadow: 0 0 20px #c2c2c2;
}

.bubblePink {
  background-color: #ed1e79;
  box-shadow: 0 0 20px #ed1e79;
}

.bubbleRed {
  background-color: #b6071c;
  color: white;
}

.bubbleYellow {
  background-color: #f4ffa2;
}

.linkYellow {
  color: #f4ffa2;
  font-weight: bold;
  font-size: 1.5rem;
  /* text-shadow: 0 0 20px #ffdb0d ; */
}
