body {
  height: 100vh;
  margin: 0;
}

.bubble {
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
}

.bubbleGray {
  background-color: #eaeaea;

}

.bubblePink {
  background-color: #ed1e79;
}

.bubbleRed {
  background-color: #91017b;
  color: white;
}