body {
  height: 100vh;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  
}

/* ------------ text info bubbles used in main route pages ---------- */
.bubble {
  border-radius: 0.5rem;
  text-align: center;
 
}

.bubbleGray {
  background-color: #c2c2c2;
  box-shadow: 0 0 20px #c2c2c2;
}

.bubblePink {
  background-color: #ed1e79;
  box-shadow: 0 0 20px #ed1e79;
}

.bubbleRed {
  background-color: #91017b;
  color: white;
}

.linkYellow {
  color: #ffdb0d;
  font-weight: bold;
  font-size: 1.5rem;
  /* text-shadow: 0 0 20px #ffdb0d ; */
}
